[Unit]
Description=Foot client for tmux session subFloat
After=foot-server.socket
Requires=foot-server.socket

[Service]
ExecStart=/usr/bin/footclient --app-id="subFloat" -e tmux new -A -s subFloat
Restart=on-failure

[Install]
WantedBy=default.target

# Emacs Stuff (cross platform)
# Local Variables:
# mode: systemd-mode
# End:
