# -*- systemd -*-
[Unit]
Description=Foot terminal server

[Service]
ExecStart=/usr/bin/foot --server=/run/user/%U/foot-server.sock
Restart=on-failure

[Install]
WantedBy=default.target
