# -*- systemd -*-
[Unit]
Description=Foot client for tmux session mS
After=foot-server.service tmux-session-ms.service
Requires=foot-server.service tmux-session-ms.service

[Service]
ExecStart=/usr/bin/footclient --server-socket=/run/user/%U/foot-server.sock --app-id="mS" -e %h/.local/bin/rg-tmux-role client main
Restart=on-failure

[Install]
WantedBy=default.target
