[Unit]
Description=Socket for foot-server service

[Socket]
ListenStream=/run/user/%U/foot.sock

[Install]
WantedBy=default.target

# Emacs Stuff (cross platform)
# Local Variables:
# mode: systemd-mode
# End:
