# -*- systemd -*-
[Unit]
Description=Gammastep for bluelight adjustment
After=graphical.target

[Service]
ExecStart=/usr/bin/gammastep -c %h/.config/gammastep/config.ini
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
