{{- if eq .chezmoi.hostname "rgam5terra" -}}
[Unit]
Description=Borg backup of mail + config, synced to pCloud
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/rg-mail-pcloud-backup
{{- end -}}
