{{- if eq .chezmoi.hostname "rgSURFLat" -}}
[Unit]
Description=Watch for a logged-out tailnet daemon

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
AccuracySec=30s
Persistent=true

[Install]
WantedBy=timers.target
{{ end -}}
