[Unit]
Description=Check Slurm jobs on rgam5terra for held, unused cores

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
AccuracySec=30s

[Install]
WantedBy=timers.target
