{{- if eq .chezmoi.hostname "rgam5terra" -}}
[Unit]
Description=Run SURF mail archive sync periodically

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
RandomizedDelaySec=30s
Persistent=true

[Install]
WantedBy=timers.target
{{- end -}}
