# -*- systemd -*-
[Unit]
Description=Tmux session mS
After=tmux-server.service
Requires=tmux-server.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=%h/.local/bin/rg-tmux-role ensure main
ExecStop=/usr/bin/tmux kill-session -t mS

[Install]
WantedBy=default.target
