#!/usr/bin/env bash
# hash: {{ include "dot_local/share/applications/org.gnome.Fractal.desktop" | sha256sum }}
set -euo pipefail
if command -v update-desktop-database >/dev/null 2>&1; then
  update-desktop-database "${HOME}/.local/share/applications" >/dev/null 2>&1 || true
fi
if command -v gtk-update-icon-cache >/dev/null 2>&1; then
  gtk-update-icon-cache -q -t -f "${HOME}/.local/share/icons/hicolor" >/dev/null 2>&1 || true
fi
