{{- $email := "" -}}
{{- if (hasKey . "email")}}
{{- $email = .email -}}
{{- else}}
{{- $email = promptString "email" -}}
{{- end -}}
{{- $display_manager := "" -}}
{{- if (hasKey . "display_manager")}}
{{- $display_manager = .display_manager -}}
{{- else}}
{{- $display_manager = promptString "display_manager" -}}
{{- end -}}
{{- $name := "" -}}
{{- if (hasKey . "name")}}
{{- $name = .name -}}
{{- else}}
{{- $name = promptString "name" -}}
{{- end -}}
{{- $machine_name := "" -}}
{{- if (hasKey . "machine_name")}}
{{- $machine_name = .machine_name -}}
{{- else}}
{{- $machine_name = promptString "machine_name" -}}
{{- end -}}
{{- $key_layout := "" -}}
{{- if (hasKey . "key_layout")}}
{{- $key_layout = .key_layout -}}
{{- else}}
{{- $key_layout = promptString "key_layout" -}}
{{- end -}}
{{- $encrypted := "" -}}
{{- if (hasKey . "encrypted")}}
{{- $encrypted = .encrypted -}}
{{- else}}
{{- $encrypted = promptString "encrypted" -}}
{{- end -}}
{{- $setup_mamba := "" -}}
{{- if (hasKey . "setup_mamba")}}
{{- $setup_mamba = .setup_mamba -}}
{{- else}}
{{- $setup_mamba = promptString "setup_mamba (yes / no)" -}}
{{- end -}}
{{- $setup_pixi := "" -}}
{{- if (hasKey . "setup_pixi")}}
{{- $setup_pixi = .setup_pixi -}}
{{- else}}
{{- $setup_pixi = promptString "setup_pixi (yes / no)" -}}
{{- end -}}
{{- $setup_spack := "" -}}
{{- if (hasKey . "setup_spack")}}
{{- $setup_spack = .setup_spack -}}
{{- else}}
{{- $setup_spack = promptString "setup_spack (yes / no)" -}}
{{- end -}}
{{- $setup_nix := "" -}}
{{- if (hasKey . "setup_nix")}}
{{- $setup_nix = .setup_nix -}}
{{- else}}
{{- $setup_nix = promptString "setup_nix (yes / no)" -}}
{{- end -}}
{{- $setup_texlive := "yes" -}}
{{- if (hasKey . "setup_texlive")}}
{{- $setup_texlive = .setup_texlive -}}
{{- end -}}
{{- $use_rust := "" -}}
{{- if (hasKey . "use_rust")}}
{{- $use_rust = .use_rust -}}
{{- else}}
{{- $use_rust = promptString "use_rust (yes / no)" -}}
{{- end -}}
{{- $tex_date := "" -}}
{{- if ne .chezmoi.os "windows" -}}
{{- /* Get tex_date from script's stdout, only if texlive dir exists */ -}}
{{- $texlive_dir := printf "%s/.local/share/texlive-*" .chezmoi.homeDir -}}
{{- $tex_date_full_path := output "bash" "-c" (printf `[ -d "$(ls -dtr %s 2>/dev/null | tail -n 1)" ] && ls -dtr %s | tail -n 1 || exit 0` $texlive_dir $texlive_dir) | trim -}}
{{- if $tex_date_full_path -}}
{{- $tex_date = output "bash" "-c" (printf "echo %s | sed 's/.*texlive-//'" $tex_date_full_path) | trim -}}
{{- end -}}
{{- end -}}
{{- $have_cuda := "" -}}
{{- if (hasKey . "have_cuda")}}
{{- $have_cuda = .have_cuda -}}
{{- else}}
{{- $have_cuda = promptString "have_cuda" -}}
{{- end -}}
{{- $setup_claude := "" -}}
{{- if (hasKey . "setup_claude")}}
{{- $setup_claude = .setup_claude -}}
{{- else}}
{{- $setup_claude = promptString "setup_claude (yes / no)" -}}
{{- end -}}
{{- /* Which assistant profile this host gets. "full" is the personal set
       delivered through the vault; "surf" is the curated work-laptop set
       delivered as age-encrypted files; "none" opts out entirely. */ -}}
{{- $claude_profile := "" -}}
{{- if (hasKey . "claude_profile")}}
{{- $claude_profile = .claude_profile -}}
{{- else if eq $setup_claude "yes" -}}
{{- $claude_profile = "full" -}}
{{- else -}}
{{- $claude_profile = "none" -}}
{{- end -}}
encrypted = {{ $encrypted | quote }}
{{- if eq $encrypted "yes" }}
encryption = "age"
[age]
identity = {{ joinPath .chezmoi.homeDir "key.txt" | quote }}
recipient = "age1m7vsksv6cktqfzlqshwxs0856mlshz8540c678dl9rklrr2jjunql48lw7"
{{- end }}

[data]
email = {{ $email | quote }}
name = {{ $name | quote }}
display_manager = {{ $display_manager | quote }}
machine_name = {{ $machine_name | quote }}
key_layout = {{ $key_layout | quote }} # colemak / qwerty
encrypted = {{ $encrypted | quote }}
setup_mamba = {{ $setup_mamba | quote }}
setup_pixi = {{ $setup_pixi | quote }}
setup_spack = {{ $setup_spack | quote }}
setup_nix = {{ $setup_nix | quote }}
setup_texlive = {{ $setup_texlive | quote }}
use_rust = {{ $use_rust | quote }}
tex_date = {{ $tex_date | quote }}
have_cuda = {{ $have_cuda | quote }}
setup_claude = {{ $setup_claude | quote }}
claude_profile = {{ $claude_profile | quote }}

{{- if eq .chezmoi.os "darwin" }}
{{- $mmanager := ""}}
{{- if (hasKey . "mmanager")}}
{{- $mmanager = .mmanager}}
{{- else}}
{{- $mmanager = promptString "mmanager (brew, nix)"}}
{{- end }}
mmanager = {{ $mmanager | quote }}
{{- end }}

[merge]
command = "nvim"
args = "-d"

[edit]
command = "emacsclient"

# Local Variables:
# mode: conf-toml
# End:
