[user]
    name = Rohit Goswami
    email = rog32@hi.is
	signingkey = 9CCCE36402CB49A6

[commit]
    gpgsign = true

[init]
	defaultBranch = main

[url "git@github.com:"]
	insteadOf = https://github.com/

[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/

[alias]
    mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -
{{ if eq .chezmoi.os "darwin" }}
[gpg]
	program = /usr/local/MacGPG2/bin/gpg2
{{ end }}
# Emacs Stuff (cross platform)
# Local Variables:
# mode: gitconfig
# End:
