if [[ $- != *i* ]]; then
	# shell is non-interactive. Do nothing and return
	return
fi

if [[ $TERM = dumb ]]; then
	return # fixes TRAMP
fi

export shellHome=$HOME/.config/shellrc

# Load all files from the posix.d directory
if [ -d $shellHome/posix.d ]; then
	for file in $shellHome/posix.d/*.sh; do
		source $file
	done
fi

# Load all files from the bashrc.d directory
if [ -d $shellHome/bash.d ]; then
	for file in $shellHome/bash.d/*.bash; do
		source $file
	done
fi

# Mamba / Micromamba setup
{{ if eq .setup_mamba "yes" }}
eval "$(micromamba shell hook --shell=bash)"
{{ end }}

# Emacs Stuff (cross platform)
# Local Variables:
# mode: shell-script
# End:
