if [[ $- != *i* ]]; then
	# shell is non-interactive. Do nothing and return
	return
fi

if [[ $TERM = dumb ]]; then
	return # fixes TRAMP
fi

export shellHome=$HOME/.config/shellrc

# Source individual files from posix.d (using absolute paths)
if [ -d "$shellHome/posix.d" ]; then
    source "$shellHome/posix.d/00_show_gre.sh"
    source "$shellHome/posix.d/01_alias_def.sh"
    source "$shellHome/posix.d/02_func_def.sh"
    source "$shellHome/posix.d/03_exports.sh"
    source "$shellHome/posix.d/05_paths.sh"
    source "$shellHome/posix.d/06_prog_conf.sh"
fi

# Source individual files from bash.d (using absolute paths)
if [ -d "$shellHome/bash.d" ]; then
    source "$shellHome/bash.d/02_functions.bash"
    source "$shellHome/bash.d/03_local_nix.bash.tmpl"
    source "$shellHome/bash.d/99_activate_bin.bash"
fi

# Mamba / Micromamba setup
{{ if eq .setup_mamba "yes" }}
eval "$(micromamba shell hook --shell=bash)"
{{ end }}

# Emacs Stuff (cross platform)
# Local Variables:
# mode: shell-script
# End:
