# TODO: Maybe add nix?
# pinentry-program {{ .chezmoi.homeDir }}/.nix-profile/bin/pinentry
{{ if eq .chezmoi.os "darwin" -}}
pinentry-program /usr/local/bin/pinentry-mac
{{ else if eq .chezmoi.os "linux" -}}
{{ if or (eq .chezmoi.hostname "rgam5terra") (eq .chezmoi.hostname "rgSURFLat") -}}
pinentry-program /usr/bin/pinentry-curses
{{ else -}}
pinentry-program /usr/bin/pinentry-gnome3
{{ end -}}
{{ end }}
allow-preset-passphrase
allow-loopback-pinentry

{{ if eq .chezmoi.hostname "rgam5terra" -}}
# Always-on serve box (vault-tools serve --git-sync, unattended commits): one
# interactive prime per week covers it instead of every 8 hours.
default-cache-ttl 86400
max-cache-ttl 604800
{{ else -}}
default-cache-ttl 28800
max-cache-ttl 28800
{{ end -}}
