Settings/Package Control.last-run
Settings/Package Control.ca-list
Settings/Package Control.ca-bundle
Settings/Package Control.system-ca-bundle
Settings/Package Control.cache/
Settings/Package Control.ca-certs/