[Desktop Entry]
Type=Application
Name=CaliSync
Exec={{ .chezmoi.homeDir }}/.local/bin/calibre_and_sync.sh
Icon=calibre-gui
GenericName=Start Calibre and sync library with pCloud
Terminal=false
Categories=Office;Utility;
