[Desktop Entry]
Type=Application
Name=Chromium Livingston System
Exec=rg-livingston-profile chromium
Icon=chromium
Categories=Network;WebBrowser;
Terminal=false
