[Desktop Entry]
Type=Application
Name=Google Chrome Wayland
Exec=google-chrome-stable --ozone-platform-hint=auto --enable-features=WaylandWindowDecoration
Icon=google-chrome
