[Desktop Entry]
Type=Application
Name=Google Chrome Wayland Proxy
Exec=google-chrome-stable --enable-features=UseOzonePlatform --ozone-platform=wayland
Icon=google-chrome
