[Desktop Entry]
Type=Application
Name=Google Chrome Wayland
Exec=google-chrome-stable --enable-features=UseOzonePlatform --ozone-platform=wayland --ozone-platform-hint=auto --enable-features=WaylandWindowDecorations
Icon=google-chrome
