[Desktop Entry]
Type=Application
Name=Mailspring Wayland
Exec=env QT_QPA_PLATFORM=xcb QT_SCALE_FACTOR=1.5 DISPLAY=:0 WAYLAND_DISPLAY=wayland-1 mailspring
Icon=mailspring
