[Desktop Entry]
Type=Application
Name=Morgen Wayland
Exec=morgen --enable-features=UseOzonePlatform --ozone-platform=wayland --ozone-platform-hint=auto --enable-features=WaylandWindowDecorations
Icon=morgen
