[Desktop Entry]
Type=Application
Name=Obsidian Wayland
Exec=env DISPLAY=:0 WAYLAND_DISPLAY=wayland-1 obsidian --enable-features=UseOzonePlatform
Icon=obsidian
