[Desktop Entry]
Type=Application
Name=Thunderbird Wayland
Exec=env DISPLAY=:0 WAYLAND_DISPLAY=wayland-1 MOZ_ENABLE_WAYLAND=1 thunderbird
Icon=thunderbird
