[Desktop Entry]
Type=Application
Name=Vivaldi Livingston System
Exec=rg-livingston-profile vivaldi
Icon=vivaldi
Categories=Network;WebBrowser;
Terminal=false
