UpdateInterval=0
TimeScale=0
Size=70
Mode=0
Frame=1
Border=1
Bars=0
TrackedCore=0
Command=xfce4-taskmanager
InTerminal=0
StartupNotification=1
ColorMode=1
Foreground1=#8f8f9d9d6a6a
Foreground2=#cfcf6a6a4c4c
Foreground3=#00000000ffff
Background=#1e1e1e1e1e1e
BarsColor=#ffffbb000000

