############
# Programs #
############
# junegunn/fzf-bin
zinit ice from="gh-r" as="command" bpick="*{{ .chezmoi.os }}*"
zinit light junegunn/fzf

# monochromegane/the_platinum_searcher
zinit ice as"program" from"gh-r" bpick"*{{ .chezmoi.os }}*" pick"*/pt"
zinit load monochromegane/the_platinum_searcher

# wakatime/wakatime-cli
zinit ice as"program" from"gh-r" bpick"*{{ .chezmoi.os }}*" mv"wakatime-cli* -> wakatime-cli" pick"*/wakatime-cli"
zinit load wakatime/wakatime-cli

# sharkdp/fd
zinit ice as"command" from"gh-r" bpick"*{{ .chezmoi.os }}*" mv"fd* -> fd" pick"fd/fd"
zinit light sharkdp/fd

# sharkdp/bat
zinit ice as"command" from"gh-r" bpick"*{{ .chezmoi.os }}*" mv"bat* -> bat" pick"bat/bat"
zinit light sharkdp/bat

# mvdan/sh
zinit ice from"gh-r" as"program" bpick"*{{ .chezmoi.os }}*" mv"shfmt* -> shfmt"
zinit light mvdan/sh

# direnv/direnv
zinit ice from"gh-r" as"program" bpick"*{{ .chezmoi.os }}*" mv"direnv* -> direnv"
zinit light direnv/direnv

# Archive helper
# zinit ice as"command" from"gh-r" bpick="*{{ .chezmoi.os }}*" mv"archiver* -> archiver" pick"archiver/archiver"
# zinit light mholt/archiver

# Makefile alternative
zinit ice as"command" from"gh-r" bpick"*{{ .chezmoi.os }}*" mv"task* -> task" pick"task/task"
zinit light "go-task/task"

# Better git
zinit ice as"program" make pick"bin/git-fzf.zsh"
zinit light 'b4b4r07/git-fzf'

# age
zinit ice as"command" from"gh-r" bpick"*{{ .chezmoi.os }}*" pick"age/(age|age-keygen)"
zinit light "FiloSottile/age"

# ogham/exa, replacement for ls
{{ if eq .chezmoi.os "darwin" }}
# Sadly this is released as macos
zinit ice from"gh-r" as"program" bpick"*macos*" mv"*/exa* -> exa"
{{ else if eq .chezmoi.os "linux" }}
zinit ice from"gh-r" as"program" bpick"*linux*" mv"*/exa* -> exa"
{{ end }}
zinit light ogham/exa


# Evaluated
# Starship
zinit ice from"gh-r" bpick"*{{ .chezmoi.os }}*" as"program" atload'eval "$(starship init zsh)"'
zinit light starship/starship

# zoxide
zinit ice from"gh-r" bpick"*{{ .chezmoi.os }}*" as"program" atload'eval "$(zoxide init zsh --cmd Z)"'
zinit light ajeetdsouza/zoxide

# ** ellie/atuin ** 🐢 Magical shell history
export ATUIN_NOBIND="true"
zinit ice from"gh-r" bpick"*{{ .chezmoi.os }}*" as"program" pick"atuin*/atuin" atload'eval "$(atuin init zsh)"'
zinit light ellie/atuin
bindkey '^r' _atuin_search_widget

# Emacs Stuff (cross platform)
# Local Variables:
# mode: shell-script
# End:
