# References
# [1]: https://github.com/ohmyzsh/ohmyzsh/blob/master/plugins/systemd/systemd.plugin.zsh

# A dispatcher command for system-wide systemctl.
export def sc [...rest: string] {
    run-external "systemctl" ...$rest
}

# Explicit sudo dispatcher for system-wide systemctl.
export def scs [...rest: string] {
    run-external "sudo" "systemctl" ...$rest
}

# A dispatcher command for user-specific systemctl.
export def scu [...rest: string] {
    run-external "systemctl" "--user" ...$rest
}


# --- Explicit Command Definitions for Aliases ---
# --now commands
export def "sc-enable-now" [...rest: string] { run-external "sudo" "systemctl" "enable" "--now" ...$rest }
export def "sc-disable-now" [...rest: string] { run-external "sudo" "systemctl" "disable" "--now" ...$rest }
export def "sc-mask-now" [...rest: string] { run-external "sudo" "systemctl" "mask" "--now" ...$rest }

export def "scu-enable-now" [...rest: string] { run-external "systemctl" "--user" "enable" "--now" ...$rest }
export def "scu-disable-now" [...rest: string] { run-external "systemctl" "--user" "disable" "--now" ...$rest }
export def "scu-mask-now" [...rest: string] { run-external "systemctl" "--user" "mask" "--now" ...$rest }


# --failed commands
export def "sc-failed" [...rest: string] { run-external "systemctl" "--failed" ...$rest }
export def "scu-failed" [...rest: string] { run-external "systemctl" "--user" "--failed" ...$rest }
