theme = "solarized-dark"
icons = "awesome"

# [[block]]
# block = "xrandr"
# icons = true
# resolution = true
# interval = 2

[[block]]
block = "disk_space"
path = "/"
alias = "/"
info_type = "available"
unit = "GB"
interval = 20
warning = 20.0
alert = 10.0

[[block]]
block = "memory"
display_type = "memory"
format_mem = "{Mup}%"
format_swap = "{SUp}%"

[[block]]
block = "cpu"
interval = 1

[[block]]
block = "load"
interval = 1
format = "{1m}"

[[block]]
block = "net"
device = "wlp4s0"
ssid = true
# ip = true
speed_up = false
# graph_up = true
interval = 1

[[block]]
block = "battery"
interval = 10
show = "both"

[[block]]
block = "time"
interval = 60
format = "%a %d/%m %R"

[[block]]
block = "sound"
