{{ if eq .chezmoi.os "linux" -}}
# Managed by chezmoi: desktop MIME defaults.
# Edit the source template and apply this file to keep desktop choices durable.
[Default Applications]
application/epub+zip=calibre-ebook-viewer.desktop;
application/gzip=engrampa.desktop;
application/javascript=emacsclient.desktop;
application/json=emacsclient.desktop;
application/ld+json=emacsclient.desktop;
application/msword=wps-writer-wayland.desktop;
application/octet-stream=emacsclient.desktop;
application/ogg=vlc.desktop;
application/oxps=org.pwmt.zathura-pdf-mupdf.desktop;
application/pdf=org.pwmt.zathura-pdf-mupdf.desktop;
application/postscript=org.pwmt.zathura-ps.desktop;
application/rtf=wps-writer-wayland.desktop;
application/toml=emacsclient.desktop;
application/vnd.amazon.ebook=calibre-ebook-viewer.desktop;
application/vnd.comicbook+zip=org.pwmt.zathura-cb.desktop;
application/vnd.comicbook-rar=org.pwmt.zathura-cb.desktop;
application/vnd.ms-excel=wps-office-et.desktop;
application/vnd.ms-powerpoint=wps-office-wpp.desktop;
application/vnd.ms-xpsdocument=org.pwmt.zathura-pdf-mupdf.desktop;
application/vnd.oasis.opendocument.presentation=libreoffice-impress.desktop;
application/vnd.oasis.opendocument.spreadsheet=libreoffice-calc.desktop;
application/vnd.oasis.opendocument.text=wps-writer-wayland.desktop;
application/vnd.openxmlformats-officedocument.presentationml.presentation=wps-office-wpp.desktop;
application/vnd.openxmlformats-officedocument.presentationml.slideshow=wps-office-wpp.desktop;
application/vnd.openxmlformats-officedocument.spreadsheetml.sheet=wps-office-et.desktop;
application/vnd.openxmlformats-officedocument.wordprocessingml.document=wps-writer-wayland.desktop;
application/vnd.rar=engrampa.desktop;
application/x-7z-compressed=engrampa.desktop;
application/x-bzip-compressed-tar=engrampa.desktop;
application/x-bzip2=engrampa.desktop;
application/x-cbr=org.pwmt.zathura-cb.desktop;
application/x-cbz=org.pwmt.zathura-cb.desktop;
application/x-compressed-tar=engrampa.desktop;
application/x-fictionbook=calibre-ebook-viewer.desktop;
application/x-gtar=engrampa.desktop;
application/x-gzip=engrampa.desktop;
application/x-java=emacs.desktop;
application/x-lrzip=engrampa.desktop;
application/x-lzma=engrampa.desktop;
application/x-mobipocket-ebook=calibre-ebook-viewer.desktop;
application/x-rar=engrampa.desktop;
application/x-rar-compressed=engrampa.desktop;
application/x-shellscript=emacsclient.desktop;
application/x-tar=engrampa.desktop;
application/x-xz=engrampa.desktop;
application/x-xz-compressed-tar=engrampa.desktop;
application/x-yaml=emacsclient.desktop;
application/x-zerosize=emacsclient.desktop;
application/x-zip-compressed=engrampa.desktop;
application/x-zstd=engrampa.desktop;
application/x-zstd-compressed-tar=engrampa.desktop;
application/xhtml+xml=vivaldi-wayland.desktop;
application/xml=emacsclient.desktop;
application/yaml=emacsclient.desktop;
application/zip=engrampa.desktop;
application/zstd=engrampa.desktop;
audio/aac=vlc.desktop;
audio/flac=vlc.desktop;
audio/mp4=vlc.desktop;
audio/mpeg=vlc.desktop;
audio/ogg=vlc.desktop;
audio/opus=vlc.desktop;
audio/wav=vlc.desktop;
audio/x-flac=vlc.desktop;
audio/x-matroska=vlc.desktop;
audio/x-wav=vlc.desktop;
image/avif=swayimg.desktop;
image/bmp=viewnior.desktop;
image/gif=viewnior.desktop;
image/heif=swayimg.desktop;
image/jpeg=viewnior.desktop;
image/jxl=swayimg.desktop;
image/png=viewnior.desktop;
image/svg+xml=viewnior.desktop;
image/svg+xml-compressed=viewnior.desktop;
image/tiff=viewnior.desktop;
image/vnd.djvu=org.pwmt.zathura-djvu.desktop;
image/vnd.djvu+multipage=org.pwmt.zathura-djvu.desktop;
image/vnd.microsoft.icon=viewnior.desktop;
image/webp=swayimg.desktop;
image/x-icon=viewnior.desktop;
inode/directory=thunar.desktop;
message/rfc822=org.gnome.Evolution.desktop;
text/calendar=org.gnome.Evolution.desktop;
text/css=emacsclient.desktop;
text/csv=wps-office-et.desktop;
text/html=vivaldi-wayland.desktop;
text/javascript=emacsclient.desktop;
text/markdown=emacsclient.desktop;
text/org=emacsclient.desktop;
text/plain=emacsclient.desktop;
text/rtf=wps-writer-wayland.desktop;
text/vcard=org.gnome.Evolution.desktop;
text/x-bibtex=emacsclient.desktop;
text/x-c=emacsclient.desktop;
text/x-c++=emacsclient.desktop;
text/x-c++hdr=emacsclient.desktop;
text/x-c++src=emacsclient.desktop;
text/x-chdr=emacsclient.desktop;
text/x-csrc=emacsclient.desktop;
text/x-java=emacsclient.desktop;
text/x-makefile=emacsclient.desktop;
text/x-python=emacsclient.desktop;
text/x-rst=emacsclient.desktop;
text/x-shellscript=emacsclient.desktop;
text/x-tex=emacsclient.desktop;
text/x-toml=emacsclient.desktop;
text/x-vcard=org.gnome.Evolution.desktop;
text/xml=emacsclient.desktop;
text/yaml=emacsclient.desktop;
video/mp4=vlc.desktop;
video/mpeg=vlc.desktop;
video/ogg=vlc.desktop;
video/quicktime=vlc.desktop;
video/webm=vlc.desktop;
video/x-matroska=vlc.desktop;
video/x-ms-wmv=vlc.desktop;
video/x-msvideo=vlc.desktop;
x-scheme-handler/http=vivaldi-wayland.desktop;
x-scheme-handler/https=vivaldi-wayland.desktop;
x-scheme-handler/mailto=org.gnome.Evolution.desktop;
x-scheme-handler/tg=org.telegram.desktop.desktop;
x-scheme-handler/tonsite=org.telegram.desktop.desktop;
x-scheme-handler/webcal=org.gnome.Evolution.desktop;
x-scheme-handler/webcals=org.gnome.Evolution.desktop;

[Added Associations]
application/epub+zip=calibre-ebook-viewer.desktop;org.pwmt.zathura-cb.desktop;org.pwmt.zathura-pdf-mupdf.desktop;
application/gzip=engrampa.desktop;xarchiver.desktop;
application/javascript=emacsclient.desktop;
application/json=emacsclient.desktop;
application/ld+json=emacsclient.desktop;
application/msword=wps-writer-wayland.desktop;
application/octet-stream=emacsclient.desktop;
application/ogg=vlc.desktop;
application/oxps=org.pwmt.zathura-pdf-mupdf.desktop;
application/pdf=org.pwmt.zathura-pdf-mupdf.desktop;masterpdfeditor4.desktop;wps-office-pdf.desktop;calibre-ebook-viewer.desktop;org.pwmt.zathura.desktop;
application/postscript=org.pwmt.zathura-ps.desktop;
application/rtf=wps-writer-wayland.desktop;
application/toml=emacsclient.desktop;
application/vnd.amazon.ebook=calibre-ebook-viewer.desktop;
application/vnd.comicbook+zip=org.pwmt.zathura-cb.desktop;
application/vnd.comicbook-rar=org.pwmt.zathura-cb.desktop;
application/vnd.ms-excel=wps-office-et.desktop;
application/vnd.ms-powerpoint=wps-office-wpp.desktop;
application/vnd.ms-xpsdocument=org.pwmt.zathura-pdf-mupdf.desktop;
application/vnd.oasis.opendocument.presentation=libreoffice-impress.desktop;
application/vnd.oasis.opendocument.spreadsheet=libreoffice-calc.desktop;
application/vnd.oasis.opendocument.text=wps-writer-wayland.desktop;libreoffice-writer.desktop;
application/vnd.openxmlformats-officedocument.presentationml.presentation=wps-office-wpp.desktop;
application/vnd.openxmlformats-officedocument.presentationml.slideshow=wps-office-wpp.desktop;
application/vnd.openxmlformats-officedocument.spreadsheetml.sheet=wps-office-et.desktop;
application/vnd.openxmlformats-officedocument.wordprocessingml.document=wps-writer-wayland.desktop;
application/vnd.rar=engrampa.desktop;
application/wps-office.pptx=wps-office-wpp.desktop;libreoffice-impress.desktop;
application/x-7z-compressed=engrampa.desktop;
application/x-bzip-compressed-tar=engrampa.desktop;
application/x-bzip2=engrampa.desktop;
application/x-cbr=org.pwmt.zathura-cb.desktop;
application/x-cbz=org.pwmt.zathura-cb.desktop;
application/x-compressed-tar=engrampa.desktop;
application/x-fictionbook=calibre-ebook-viewer.desktop;
application/x-gtar=engrampa.desktop;
application/x-gzip=engrampa.desktop;
application/x-java=emacs.desktop;
application/x-lrzip=engrampa.desktop;
application/x-lzma=engrampa.desktop;
application/x-mobipocket-ebook=calibre-ebook-viewer.desktop;
application/x-rar=engrampa.desktop;
application/x-rar-compressed=engrampa.desktop;
application/x-shellscript=emacsclient.desktop;
application/x-tar=engrampa.desktop;
application/x-xz=engrampa.desktop;
application/x-xz-compressed-tar=engrampa.desktop;
application/x-yaml=emacsclient.desktop;
application/x-zerosize=emacsclient.desktop;typora.desktop;
application/x-zip-compressed=engrampa.desktop;
application/x-zstd=engrampa.desktop;
application/x-zstd-compressed-tar=engrampa.desktop;
application/xhtml+xml=vivaldi-wayland.desktop;
application/xml=emacsclient.desktop;
application/yaml=emacsclient.desktop;
application/zip=engrampa.desktop;
application/zstd=engrampa.desktop;
audio/aac=vlc.desktop;
audio/flac=vlc.desktop;
audio/mp4=vlc.desktop;
audio/mpeg=vlc.desktop;
audio/ogg=vlc.desktop;
audio/opus=vlc.desktop;
audio/wav=vlc.desktop;
audio/x-flac=vlc.desktop;
audio/x-matroska=vlc.desktop;
audio/x-wav=vlc.desktop;
image/avif=swayimg.desktop;
image/bmp=viewnior.desktop;
image/gif=viewnior.desktop;
image/heif=swayimg.desktop;
image/jpeg=viewnior.desktop;oculante.desktop;swayimg.desktop;
image/jxl=swayimg.desktop;
image/png=viewnior.desktop;oculante.desktop;swayimg.desktop;
image/svg+xml=viewnior.desktop;org.inkscape.Inkscape.desktop;
image/svg+xml-compressed=viewnior.desktop;
image/tiff=viewnior.desktop;
image/vnd.djvu=org.pwmt.zathura-djvu.desktop;
image/vnd.djvu+multipage=org.pwmt.zathura-djvu.desktop;
image/vnd.microsoft.icon=viewnior.desktop;
image/webp=swayimg.desktop;
image/x-icon=viewnior.desktop;
inode/directory=thunar.desktop;
message/rfc822=org.gnome.Evolution.desktop;
text/calendar=org.gnome.Evolution.desktop;
text/css=emacsclient.desktop;
text/csv=wps-office-et.desktop;emacsclient.desktop;
text/html=vivaldi-wayland.desktop;firefox.desktop;emacsclient.desktop;
text/javascript=emacsclient.desktop;
text/markdown=emacsclient.desktop;typora.desktop;nvim.desktop;org.pwmt.zathura.desktop;
text/org=emacsclient.desktop;code.desktop;
text/plain=emacsclient.desktop;code.desktop;nvim.desktop;
text/rtf=wps-writer-wayland.desktop;
text/vcard=org.gnome.Evolution.desktop;
text/x-bibtex=emacsclient.desktop;code.desktop;
text/x-c=emacsclient.desktop;
text/x-c++=emacsclient.desktop;
text/x-c++hdr=emacsclient.desktop;
text/x-c++src=emacsclient.desktop;nvim.desktop;
text/x-chdr=emacsclient.desktop;
text/x-csrc=emacsclient.desktop;
text/x-java=emacsclient.desktop;
text/x-makefile=emacsclient.desktop;
text/x-python=emacsclient.desktop;
text/x-rst=emacsclient.desktop;
text/x-shellscript=emacsclient.desktop;
text/x-tex=emacsclient.desktop;code.desktop;
text/x-toml=emacsclient.desktop;
text/x-vcard=org.gnome.Evolution.desktop;
text/xml=emacsclient.desktop;
text/yaml=emacsclient.desktop;
video/mp4=vlc.desktop;mpv.desktop;smplayer.desktop;fr.handbrake.ghb.desktop;
video/mpeg=vlc.desktop;fr.handbrake.ghb.desktop;smplayer.desktop;
video/ogg=vlc.desktop;
video/quicktime=vlc.desktop;
video/webm=vlc.desktop;
video/x-matroska=vlc.desktop;mpv.desktop;smplayer.desktop;losslesscut-bin.desktop;
video/x-ms-wmv=vlc.desktop;
video/x-msvideo=vlc.desktop;
x-scheme-handler/http=vivaldi-wayland.desktop;
x-scheme-handler/https=vivaldi-wayland.desktop;
x-scheme-handler/mailto=org.gnome.Evolution.desktop;
x-scheme-handler/tg=org.telegram.desktop.desktop;
x-scheme-handler/tonsite=org.telegram.desktop.desktop;
x-scheme-handler/webcal=org.gnome.Evolution.desktop;
x-scheme-handler/webcals=org.gnome.Evolution.desktop;
{{ end -}}
